<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>新規登録ページ</h2>
  <form th:action="@{/users}" th:object="${userCreateRequest}" method="post">
    <div>
      <label>ユーザー名</label>
      <input type="text" th:field="*{name}">
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
      <label>メールアドレス</label>
      <input type="email" th:field="*{email}">
      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <button type="submit">登録</button>
  </form>
</body>
</html>